@import '../../../styles.scss';
.nav {
	width: 200px;
	border-right: 10px solid $purple;
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: $peach;
	.navItem {
		width: 100%;
		padding: 10px;
		text-align: center;
		margin: 0;
		height: 40px;
		cursor: pointer;
	}
	.active {
		background-color: $purple;
		color: white;
		font-weight: 800;
	}
}
