@import '../../../styles.scss';
.head {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $blue;
  color: white;
  .header {
    text-align: center;
    vertical-align: middle;
    height: 100%;
    font-size: 40px;
  }

  .logout {
    color: #fff;
    font-size: 12px;
    font-weight: 800;
    height: 100%;
    padding: 10px;
    background-color: $purple;
    border-radius: 4px;
    &:hover {
      background-color: $peach;
      color: $blue;
    }
  }
}
.img {
  height: 100%;
}
.left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
