<app-studentheader [showlogout]="false"></app-studentheader>

<div class="login">
	<p class="header">login</p>

	<p class="inputbox">
		<label for="email" class="label"> Email Id</label>
		<input
			type="text"
			class="box"
			placeholder="Email Id"
			[(ngModel)]="email"
			(blur)="login()"
		/>
	</p>
	<p class="inputbox">
		<label for="password" class="label"> Password</label>
		<input
			type="password"
			class="box"
			placeholder="password"
			[(ngModel)]="password"
			disabled="true"
		/>
	</p>
	<!-- <div class="actionControl">
  <button class="submitBtn" (click)="login()">Login</button>
 <button class="cancelBtn" (click)="cancel()">Cancel</button>
  </div>
  <div *ngIf="invalidLogin">
      <div class="status">
          Invalid Login
      </div>
  
  </div>
</div> -->
</div>
